@value blockPaddingBottom from "../App/App.scss";

.blockHeroVideo {
  composes: grid12 from "../App/App.scss";
  grid-column: 1 /-1;
  padding-bottom: blockPaddingBottom;
  /* background-color: #6290b4; */
}

.heroText {
  grid-column: 1 / -1;
}
