@use "../App/commonVars.scss";

h1 {
  font-size: 61pt;
  font-weight: bold;
  /* font-weight: 800; */
  margin: 0;
}

@media only screen and (max-width: commonVars.$screenL) {
  h1 {
    font-size: 51pt;
  }
}

@media only screen and (max-width: commonVars.$screenM) {
  h1 {
    font-size: 41pt;
  }
}

@media only screen and (max-width: commonVars.$screenXS) {
  h1 {
    font-size: 31pt;
  }
}
