h1 {
  font-size: 61pt;
  font-weight: bold;
  /* font-weight: 800; */
  margin: 0;
}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 51pt;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 41pt;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 31pt;
  }
}
