@use "../App/commonVars.scss";

.headerM {
  grid-column: 1 / -1;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  /* font-weight: 800; */
  margin: 24px 0 30px;
}

@media only screen and (max-width: commonVars.$screenM) {
  h3 {
    font-size: 26px;
  }
}
