@use "../App/commonVars.scss";

h4 {
  font-size: 29pt;
  font-weight: 300;
  margin: 0;
}

@media only screen and (max-width: commonVars.$screenL) {
  h4 {
    font-size: 25pt;
  }
}

@media only screen and (max-width: commonVars.$screenM) {
  h4 {
    font-size: 19pt;
  }
}
