h4 {
    font-size: 32pt;
    font-weight: 300;
    margin:0;
}
@media only screen and (max-width: 1280px){
    h4 {
        font-size: 28pt;
    }
}
@media only screen and (max-width: 1024px){
    h4 {
        font-size: 22pt;
    }
}
