@use "../App/commonVars.scss";

.headerL {
  margin-top: 30px;
  grid-column: 2 / 7;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  /* font-weight: 800; */
  margin: 0;
}

@media only screen and (max-width: commonVars.$screenM) {
  h2 {
    font-size: 41px;
  }
}
