.listItem {
  font-size: 11pt;
  font-weight: 500;
  /* background-color: #f0d6b7; */
  /* border-top: 1px solid grey; */
  padding-top: 15px;
  grid-column: span 2;
  height: 20px;
  line-height: 1.2;
}

.borderOff {
  border-top: 0;
}

.borderOn {
  border-top: 1px solid grey
}
