@use "../App/commonVars";

.blockContact {
  grid-column: 1 /-1;
  composes: grid12 from "../App/App.scss";
  padding-bottom: commonVars.$blockPaddingBottom;
}

.blockContact > a {
  grid-column: 1 / -1;
}

.blockContact > a > h3 {
  margin-top: 0;
}

@media only screen and (max-width: commonVars.$screenXS) {
  .blockContact > a > h3 {
    font-size: 10pt;
  }
}
