@use "../App/commonVars";

.blockProjects {
  grid-column: 1 /-1;
  composes: grid12 from "../App/App.scss";
  padding-bottom: commonVars.$blockPaddingBottom;
}

.blockProjects > a:last-child {
  justify-self: center;
}
