.image {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
}

.container {
  grid-column: span 4;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-column: span 6;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    grid-column: span 12;
  }
}
