@use "../App/commonVars";

.blockClients {
  grid-column: 1 / -1;
  composes: grid12 from "../App/App.scss";
  padding-bottom: commonVars.$blockPaddingBottom;
  /* background-color: aquamarine; */
}

.imgClientsL,
.imgClientsS {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  filter: invert(100%);
}

.imgClientsS {
  display: none;
}

@media only screen and (max-width: 576px) {
  .imgClientsS {
    display: inline;
  }

  .imgClientsL {
    display: none;
  }
}
