@value blockPaddingBottom from "../App/App.css";

.blockClients {
    grid-column: 1 / -1;
    composes: grid12 from '../App/App.css';
    padding-bottom: blockPaddingBottom;
    /*background-color: aquamarine;*/
}
.blockClients > img {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    filter: invert(100%);
    /*filter: invert(97%) sepia(7%) saturate(2366%) hue-rotate(309deg) brightness(94%) contrast(99%);*/
}

