@value blockPaddingBottom from "../App/App.scss";

.blockContainer {
  grid-column: 1 / -1;
  composes: grid12 from "../App/App.scss";
  padding-bottom: blockPaddingBottom;
  /* background-color: #d7c8e9; */
}

.blockContainer > p {
  grid-column: 1 / -1;
}
