@use "../App/commonVars.scss";

.image {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
}

.container {
  grid-column: 1 / -1;
}

@media only screen and (max-width: commonVars.$screenS) {
  .image {
    height: 300px;
    object-fit: cover;
  }
}
