@use "../App/commonVars";

.blockTools {
  grid-column: 1 / -1;
  composes: grid12 from "../App/App.scss";
  padding-bottom: commonVars.$blockPaddingBottom;
}

.toolsContainer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.toolsContainer > div {
  grid-column: span 2;
}

.toolsHeader {
  font-size: 25px;
  font-weight: 300;
  white-space: nowrap;
  padding-bottom: 20px;
}

@media only screen and (max-width: commonVars.$screenM) {
  .toolsContainer > div {
    grid-column: span 5;
  }
}
