@use "../App/commonVars.scss";

.bannerLogo {
  color: white;
  grid-column: span 5;
  justify-self: end;
  /* background-color: #4af9b6; */
  align-self: start;
  margin-top: 30px;
}

@media only screen and (max-width: commonVars.$screenXS) {
  .bannerLogo {
    justify-self: start;
    align-self: start;
    grid-column: 2 / -2;
    margin-top: 0;
  }
}
