.imageTwoThird {
    grid-column: span 8;
    width: 100%;
    /*background-color: #b3e1e1;*/
}


@media only screen and (max-width: 1024px){
    .imageTwoThird {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 576px){
    .imageTwoThird {
        height: 220px;
        object-fit: cover;
    }
}
