@use "../App/commonVars.scss";

.navBarContainer {
  z-index: 2;
  top: 0;
  position: fixed;
  width: 100%;
}

.navBar {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1a1a1a;
  /* background-color: white; */
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  gap: 50px;
  transition: transform 150ms ease-in-out;
}

.logo {
  margin-right: auto;
}

.navBar > a:hover {
  /* color: red; */
}

.navBarHide {
  transform: translateY(-100%);
}

.navIcon {
  display: none;
  align-self: center;
  transition: all 0.3s;
  width: 26px;
  padding: 10px;
  border-radius: 3px;
}

.navIcon:hover {
  cursor: pointer;
  background-color: #242424;
}

.overlay {
  z-index: 1;
  background-color: #1a1a1a;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: all 1s;
  transform: translateX(0);
}

.stopScroll {
  height: 100%;
  overflow: hidden;
}

.overlayHide {
  transform: translateX(150%);
}

@media only screen and (max-width: commonVars.$screenM) {
  .navBar {
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    gap: 40px;
  }
}

@media only screen and (max-width: commonVars.$screenS) {
  .navBar > a {
    display: none;
  }

  .navIcon {
    display: block;
  }
}

@media only screen and (max-width: commonVars.$screenXS) {
  .navBar {
    padding-left: 10px;
    padding-right: 10px;
  }
}
