.videoContainer {
  grid-column: 1 / -1;
  display: grid;
}

.container,
.video,
.image {
  grid-row: 1;
  grid-column: 1 / -1;
  width: 100%;
}

.video {
  z-index: -1;
  /* todo this is a temp workaround, video dimensions and poster mismatch
      cause artifacts, need to ensure they match (i.e. replace the video)
      and delete this */
  height: 100%;
}
