@use "../App/commonVars.scss";

.blockProjectMain {
  grid-column: 1 / -1;
  composes: grid12 from "../App/App.scss";
}

.blockProjectMain > h1 {
  grid-column: 1 / -1;
}

.blockProjectMain > p {
  grid-column: 1 / 5;
}

.blockProjectMainLogo {
  grid-column: 1 / -1;
  /* background-color: grey; */
  color: white;
}

.projectMainItemL,
.projectMainItemR {
  /* background-color: #f0f0f0; */
  font-weight: 800;
  font-size: 21px;
}

.projectMainItemL {
  grid-column: 9 / span 2;
}

.projectMainItemR {
  grid-column: 11 / span 2;
}

.projectMainItemText {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 18px;
}

@media only screen and (max-width: commonVars.$screenL) {
  .projectMainItemText {
    font-size: 16px;
  }
}

@media only screen and (max-width: commonVars.$screenM) {
  .blockProjectMain > p {
    grid-column: 1 / span 7;
  }

  .projectMainItemL,
  .projectMainItemR {
    font-size: 16px;
  }

  .projectMainItemText {
    font-size: 13px;
  }
}

@media only screen and (max-width: commonVars.$screenS) {
  .blockProjectMain > p {
    grid-column: 1 / -1;
  }

  .projectMainItemL {
    grid-column: 1 / span 4;
  }

  .projectMainItemR {
    grid-column: 5 / span 4;
  }
}
