.bannerSub {
    grid-column: span 6;
    /*background-color: azure;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
    height: 400px;
}

.bannerSub p {
    color: white;
    align-self: end;
    margin-bottom: 40px;
}

.bannerSub > img {
    justify-self: start;
    align-self: start;
    grid-column: 2 / -2;
    margin-top: 0;
}


@media only screen and (max-width: 576px) {
    .bannerSub {
        grid-column: span 12;
        grid-template-columns: repeat(12, 1fr);
    }
}