@use "../App/commonVars";

.blockHeroText {
  composes: grid12 from "../App/App.scss";
  grid-column: 1 / -1;
  padding-bottom: commonVars.$blockPaddingBottom;
}

.blockHeroText > h1 {
  grid-column: 1 / -1;
}

.blockHeroText > p {
  grid-column: 1 / span 5;
}

@media only screen and (max-width: 1024px) {
  .blockHeroText > p {
    grid-column: 1 / -1;
  }
}
